<% content_for :head_extensions_before do %>
  <%= cloudflare_turnstile_script_tag(async: false, explicit: true) %>
<% end %>

<% content_for :page_layout do %>
  <div class="wrapper">
    <section class="login-content">
      <div class="row m-0 min-vh-100 align-items-stretch">
        <div class="col-md-6 align-self-center">
          <div class="row justify-content-center">
            <div class="col-md-10">
              <div class="text-center mb-4">
                <%= link_to root_path do %>
                  <div class="pride-logo-container d-inline-flex">
                    <%= image_tag asset_path('logos/xivauth-logo-45.svg'), style: "height: 3rem;", alt: "XIVAuth" %>
                    <span class="pride-logo-icon <%= current_pride_flag_class %> pride-logo-mask"></span>
                  </div>
                <% end %>
              </div>
              <%= render 'layouts/components/flashes' %>
              <%= yield %>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-md-block d-none bg-primary login-backdrop p-0 vh-100 overflow-hidden">
        </div>
      </div>
    </section>
  </div>
<% end %>

<%= render template: "layouts/application" %>